---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="List New Page" loggedIn>
  <div
    class="container mx-auto mt-20 min-h-screen max-w-screen-xl px-4 pt-10 xl:px-12"
  >
    <h1 class="mb-6 font-arvo text-4xl font-semibold">List Page Baru</h1>

    <div class="flex flex-row flex-wrap gap-4">
      <a class="border px-8 py-3" href="/new/author">Author Page</a>

      <a class="border px-8 py-3" href="/new/added-books">Added Books Page</a>

      <a class="border px-8 py-3" href="/new/choose-book-modal-200">
        Choose Book Modal 200
      </a>

      <a class="border px-8 py-3" href="/new/choose-book-recommendation-modal">
        Choose Book Category Recommendation Modal
      </a>

      <a class="border px-8 py-3" href="/new/choose-book-modal-404">
        Choose Book Modal 404
      </a>

      <a class="border px-8 py-3" href="/new/recommendation-404">
        Recommendation 404
      </a>

      <a class="border px-8 py-3" href="/new/recommendation-signup-modal">
        Recommendation Signup Modal
      </a>

      <a class="border px-8 py-3" href="/new/recommendation"> Recommendation</a>
    </div>
  </div>
</Layout>
