---
import Layout from "../../layouts/Layout.astro";

const listBook = [
  {
    id: 1,
    src: "/rekomendasi-1.png",
    title: "1 Jam Ahli Pemrograman : HTML, CSS, Dan Javascript",
    author: "Adam Saputra",
  },
  {
    id: 2,
    src: "/rekomendasi-2.png",
    title: "The Intelligent Investor",
    author: "+++",
  },
  {
    id: 3,
    src: "/rekomendasi-3.png",
    title: "Atomic Habits",
    author: "James Clear",
  },
  {
    id: 4,
    src: "/rekomendasi-4.png",
    title: "Outliers",
    author: "Malcolm Gladwell",
  },
  {
    id: 5,
    src: "/rekomendasi-5.png",
    title: "Mark Manson: Everything Is F*Cked",
    author: "Mark Manson",
  },
  {
    id: 6,
    src: "/rekomendasi-6.png",
    title: "Atomic Habits",
    author: "James Clear",
  },
];

const popularList = [
  {
    id: 1,
    title: "Outliers",
    author: "Malcolm Gladwell",
  },
  {
    id: 2,
    title: "Everything Is F*cked",
    author: "Mark Manson",
  },
  {
    id: 3,
    title: "12 Rules For Life: An Antidote To Chaos",
    author: "Jordan B. Peterson",
  },
  {
    id: 4,
    title: "Desain Grafis dengan Canva untuk Pemula",
    author: "Jubilee Enterprise",
  },
];
---

<Layout title="Recommendation Book" loggedIn>
  <div
    class="container relative mx-auto grid h-full min-h-screen max-w-screen-xl grid-cols-1 px-4 lg:grid-cols-12 lg:gap-10 xl:px-12"
  >
    <section class="col-span-1 mt-20 min-h-screen lg:col-span-9 lg:mt-28">
      <h1 class="mb-4 font-arvo text-2xl leading-7 lg:text-3xl">Rekomendasi</h1>

      <div class="grid grid-cols-2 gap-4 lg:grid-cols-4 lg:gap-6">
        {
          listBook.map((item) => {
            return (
              <figure class="space-y-2.5 lg:space-y-5">
                <img
                  src={item.src ?? `/rekomendasi-1.png`}
                  alt="Rekomendasi 1"
                />

                <figcaption class="space-y-2">
                  <a href="/" class="hover:underline">
                    <h5 class="line-clamp-2 text-base font-semibold leading-[1.25] lg:text-lg lg:leading-[1.125]">
                      {item.title ??
                        "1 Jam Ahli Pemrograman : HTML, CSS, Dan Javascript"}
                    </h5>
                  </a>

                  <a href="/" class="text-sm text-[#515151] hover:underline">
                    by {item.author ?? "Adam Saputra"}
                  </a>
                </figcaption>
              </figure>
            );
          })
        }
      </div>

      <div class="my-8 hidden h-px w-full bg-[#dcdcdc] lg:block"></div>

      <header class="mb-6 hidden items-center gap-3 lg:flex">
        <h1 class="font-arvo text-2xl leading-7 lg:text-3xl">Giveaway</h1>

        <button
          class="-mb-1.5 rounded-[4px] bg-[#D6E4FE] px-3 py-1 text-xs font-semibold"
        >
          Beta
        </button>
      </header>

      <div
        class="mb-20 hidden grid-cols-2 gap-4 lg:grid lg:grid-cols-4 lg:gap-6"
      >
        {
          listBook.map((item) => {
            return (
              <figure class="space-y-2.5 lg:space-y-5">
                <img
                  src={item.src ?? `/rekomendasi-1.png`}
                  alt="Rekomendasi 1"
                />

                <figcaption class="space-y-2">
                  <a href="/" class="hover:underline">
                    <h5 class="line-clamp-2 text-base font-semibold leading-[1.25] lg:text-lg lg:leading-[1.125]">
                      {item.title ??
                        "1 Jam Ahli Pemrograman : HTML, CSS, Dan Javascript"}
                    </h5>
                  </a>

                  <a href="/" class="text-sm text-[#515151] hover:underline">
                    by {item.author ?? "Adam Saputra"}
                  </a>
                </figcaption>
              </figure>
            );
          })
        }
      </div>
    </section>

    <div class="relative col-span-1 lg:sticky lg:top-32 lg:col-span-3 lg:mt-32">
      <div class="my-8 block h-px w-full bg-[#dcdcdc] lg:hidden"></div>

      <section class="relative mb-8">
        <header class="mb-2 space-y-4">
          <h3 class="font-arvo text-2xl leading-7 lg:text-3xl">Want to Read</h3>

          <p class="text-sm font-semibold">
            Tambahkan bacaan yang ingin anda baca dari rekomendasi buku.
          </p>
        </header>

        <p class="text-sm text-[#515151]">
          In her second novel, The Stationery Shop, Marjan Kamali weaves a
          heartbreaking tale
        </p>
      </section>

      <div class="my-8 block h-px w-full bg-[#dcdcdc] lg:hidden"></div>

      <section class="relative mb-8">
        <h3 class="mb-4 font-arvo text-2xl leading-7 lg:text-3xl">
          Popular This Week
        </h3>

        <div class="mb-4 space-y-4">
          {
            popularList.map((item) => {
              return (
                <figure class="group relative space-y-2">
                  <a class="absolute inset-0 z-10 h-full w-full" href="/" />
                  <h5 class="text-sm font-semibold group-hover:underline">
                    {item.title ?? "Outliers"}
                  </h5>

                  <p class="text-sm text-[#515151]">
                    by {item.author ?? "Malcolm Gladwells"}
                  </p>
                </figure>
              );
            })
          }
        </div>

        <button
          id="search-book"
          type="button"
          class="relative flex items-center justify-center rounded-full bg-[#128C55] px-8 py-2 font-bold text-white transition-all duration-300 ease-out hover:bg-[#128C55]/90"
        >
          Cari Buku
        </button>
      </section>
    </div>
  </div>
</Layout>
